@charset "ISO-8859-1";

.form-element {
  margin-bottom: 1em;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

input[type="text"], input[type="phone"], input[type="date"], input[type="bookname"] {
  padding: 0.5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 0.5em 1em;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}